<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
        <h2 th:if="${param.status}" th:text="삭제되었습니다."></h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/writings/add}'|"
                    onclick="location.href='addForm.html'"
                    type="button">글쓰기</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/addUser}'|"
                    onclick="location.href='addForm.html'"
                    type="button">회원가입</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>글제목</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="writing:${writings}">
                <td><a href="writing.html" th:href="@{/{userId}(userId=${member.id})}" th:text="${member.id}"></a></td>
                <td><a href="writing.html" th:href="@{|/${member.id}|}" th:text="${member.userName}">이름</a></td>
                <td><a href="writing.html" th:href="@{|/${member.id}|}" th:text="${member.email}">이메일</a></td>
                <td><button class="btn btn-primary float-end"
                                        th:onclick="|location.href='@{/addUser}'|"
                                        onclick="location.href='addForm.html'"
                                        type="button">회원가입</button></td>
<!--                <td><span th:text:="${writing.date}"></span></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

</body>
</html>