<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link
            th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>글 상세</h2>
    </div>

    <h2 th:if="${param.status}" th:text="'글 등록이 완료되었습니다.'"></h2>

    <div>
        제목:<h1 th:text="${writing.title}"></h1>
    </div>
    <br>
    <div>
        작성자:<h2 th:text="${writing.member.name}"></h2>
    </div>
    <br>
    <div>
        <label>글 내용:</label>
        <text type="textarea" class="form-control"  th:text="${writing.content}" readonly></text>
    </div>
    <br>
    <img th:each="attachedFile : ${writing.attachedFiles}" th:src="|/images/${attachedFile.getStoreFilename()}|"
         width="500" height="500"/>

    <hr class="my-4">

    <div class="row">
        <div class="col"  th:if="${right}">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/writing/edit/{writingId}/(writingId=${writing.id})}'|"
                    type="button">글 수정
            </button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='main.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">목록으로
            </button>
        </div>

        <div class="col"  th:if="${right}">
            <button class="w-100 btn btn-danger btn-lg"
                    onclick="location.href='main.html'"
                    th:onclick="|location.href='@{/writing/writings/{writingId}/delete/(writingId=${writing.id})}'|"
                    type="button">삭제하기
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>